.card-link {
  text-decoration: none;
  color: inherit;
}
.card {
  transition: all 0.3s ease-in-out;
  color: black;
}

.card:hover {
  transform: scale(1.05);
}
.p1 {
  color: brown;
  text-decoration: underline;
}

.added-message,
.error-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  animation: showMessage 1.3s forwards;
}

.error-message {
  background-color: red;
  animation: showMessage 3s forwards;
}

@keyframes showMessage {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.5);
  }
}
